
.big-banner{
    background-image: linear-gradient(93deg,#53b2fe,#065af3);
    
}
.navbar{

    border:1px solid rgb(40, 35, 35);
}

#formdiv{
    margin-top: 7rem;
    
    
}

.footer{

    margin-top: 26rem;

}
#he5{
    font-size: 1.2rem;
    display: inline-block;
    position: relative;
    top: 0.2rem;
}
